/* Reseteo de estilos básicos para un lienzo limpio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e6e6e6; /* Un fondo neutro */
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* Contenedor principal que sostiene el formulario y la gráfica */
.main-container {
    width: 100%;
    max-width: 1200px; /* Ajustar según la preferencia */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Estilos del formulario para ingresar datos */
.form-container {
    background: #f8f8f8; /* Un ligero contraste al fondo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

/* Estilos para los elementos del formulario */
.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}

.form-control input,
.form-control select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

/* Botón para agregar datos al gráfico */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Ajustes para la gráfica */
#graficaCalorias {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Añadimos media queries para responsividad */
@media (max-width: 768px) {
    .form-container,
    .main-container {
        width: auto;
    }

    body {
        padding: 20px;
    }
}
